/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

:root {
    --color-primario:#EEAECA ;   
    --color-secundario: #94BBE9;   
    --color-fondo: #F9FAFB;        
    --color-acento: #020024;        
    --color-texto: #333333;         
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 30px;
}
.foto-perfil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--color-primario);
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
h1 {
    font-family: 'Poppins', sans-serif; 
    color: var(--color-primario);
    font-size: 2.5rem;
}

.subtitulo {
    font-size: 1rem;
    color: var(--color-secundario);
}
main {
    max-width: 900px;
    margin: 0 auto;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-secundario);
    margin-bottom: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-secundario);
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-top: 5px;
}

ul li {
    margin-bottom: 5px;
}

#contacto ul {
    list-style-type: none;
    color: var(--color-acento);
    margin-left: 0;
}

#contacto li strong {
    color: var(--color-primario);
}
#contacto a {
    text-decoration: none;
    font-weight: 600;
}

#contacto a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777777;
}
